td{
    height: 20px;
    width: 20px;
}
td a{
    height: 100%;
    width: 100%;
    display:block;
    cursor: pointer;
}



.card{
    min-height: 500px;
}

.btn-group{
    margin-bottom: 30px;
}


/*////////////////////////////
        ENTITY LIST 
///////////////////////////*/
a[entity="0"], #entityList li[id="0"]{
    background-color: #e37dc4;
}
a[entity="1"], #entityList li[id="1"]{
    background-color: #740ec0;
}



/*////////////////////////////
        ENEMY LIST 
///////////////////////////*/
a[enemy="0"], #enemyList li[id="0"]{
    background-color: #9ede0d;
}


/*////////////////////////////
        ENVIRONMENT LIST 
///////////////////////////*/
a[environment="0"], #environmentList li[id="0"]{
    background-color: #83ce7e;
}

a[environment="1"], #environmentList li[id="1"]{
    background-color: #95ae0d;
}